    
	body:{
		position: relative;
		margin:0;
		padding:0%
	}
	.main-image{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
	}
	.overlay-div{
	position: absolute;
    left: 112px;
    top: 25px;
    border-radius: 50% 50%;
		
	}
	.overlay-image {
    border-radius: 50% 50%;
    height: 60px;
    width: 60px;
}